body {
  background: #282828;
  margin:0px;
}
#phaserContainer {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: calc(50% - 384px);  
  left: calc(50% - 512px);  
}
#codeMirrorDiv {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: calc(50% - 384px);  
  left: calc(50% - 512px);
  pointer-events: none;
}
.cm-s-night.CodeMirror{
  font-family:"Courier";
  font-size: 20px;
  margin-left: 32px;
  margin-right: 32px;
  pointer-events: all;
}
#commandDiv .cm-s-night.CodeMirror{
  background: #282828;height: 125px;
  top: 487px;
}
#historyDiv .cm-s-night.CodeMirror{
  background: transparent;
  height: 125px;
  top: 477px;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div{
  background: #282828;
}
