body {
    background: #cbd7dd;
}

#phaserContainer {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
}

#reddit {
    position:absolute;
    top:0;
    left:0;
    background-image: url('/img/Triangle.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 190px;
    width: 190px;
}
#reddit img {
    padding-top: 5px;
    height: 20px;
}

a, a:hover, a:active, a:visited
{ color: white; }

#redditText {
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

#codeMirrorDiv {
    display: none;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
    pointer-events: none;
}

#postFormDiv {
    display: none;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
    background: #062A5A;
    border-radius: 20px;
}

#titleImage {
    width: 1024px;
    height: 794px;
    position: absolute;
    top: calc(50% - 410px);
    left: calc(50% - 512px);
}

form {
    margin-top: 25px;
    margin-left: 25px;
    color: white;
}

.cm-s-night.CodeMirror {
    font-family: "Courier";
    font-size: 20px;
    pointer-events: all;
}

#commandDiv .cm-s-night.CodeMirror {
    height: 140px;
    top: 487px;
    border-radius: 0px 0px 20px 20px;
}

#historyDiv .cm-s-night.CodeMirror {
    background: #062A5A;
    height: 140px;
    top: 477px;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    background: #282828;
}
