body {
    background: #cbd7dd;
}

#phaserContainer {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
}

#codeMirrorDiv {
    display: none;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
    pointer-events: none;
}

#postFormDiv {
    display: none;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: calc(50% - 384px);
    left: calc(50% - 512px);
    background: #282828;
    border-radius: 20px;
}

form {
    margin-top: 25px;
    margin-left: 25px;
    color: white;
}

.cm-s-night.CodeMirror {
    font-family: "Courier";
    font-size: 20px;
    pointer-events: all;
}

#commandDiv .cm-s-night.CodeMirror {
    background: #282828;
    height: 140px;
    top: 487px;
    border-radius: 0px 0px 20px 20px;
}

#historyDiv .cm-s-night.CodeMirror {
    background: #062A5A;
    height: 140px;
    top: 477px;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    background: #282828;
}
